.settings {
  display: flex;
}

.settingsWrapper {
  flex: 9;
  padding: 20px;
  margin: 1%;
}

.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingsUpdateTitle {
  font-size: 30px;
  margin-left: 8%;
  color: lightcoral;
}

.settingsDeleteTitle {
  color: red;
  font-size: 12px;
  margin-left: 70%;
  cursor: pointer;
}

.settingsForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.settingsForm > label {
  font-size: 22px;
  margin-bottom: -0.5%;
}

.settingsSubmit{
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: #f1f1f1;
  background-color: teal;
  padding: 10px;
  margin-top: 50px;
  cursor: pointer;
}