:root {
  --my-black: #0E1428;
  --my-green: #92AF9E;
  --my-light-green: #BDEFD8;
  --my-dark-green: #658576;
  --my-white: #e4e4e4;
}

body {
  background: linear-gradient(to bottom, #92AF9E, #0E1428);
}


/* ABOUT */
.aboutImg {
  width: 25%;
}
/* ABOUT */

/* ADMIN */
.admin {
  display: flex;
}

.adminWrapper {
  flex: 9;
  padding: 20px;
  margin: 1%;
}

.adminTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adminUpdateTitle {
  font-size: 30px;
  margin-left: 8%;
  color: lightcoral;
}

.adminDeleteTitle {
  color: red;
  font-size: 12px;
  margin-left: 70%;
  cursor: pointer;
}

.adminForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.adminForm > label {
  font-size: 22px;
  margin-bottom: -0.5%;
}

.adminSubmit {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: #f1f1f1;
  background-color: teal;
  padding: 10px;
  margin-top: 50px;
  cursor: pointer;
}
/* ADMIN */



/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  margin-bottom: 2%;
}

.footerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerTitle {
  padding: 1%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-family: "Varela Round", sans-serif;
  font-size: 10px;
  color: #a7a4a4;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
/* FOOTER */

/* HEADER */
.header {
  margin: 2%;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.headerLeft,
.headerRight {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerCenter {
  flex: 8;
}

.headerList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.headerListItem {
  font-family: "Lora", sans-serif;
  margin: 2%;
  font-size: 22px;
  cursor: pointer;
}
/* HEADER */